<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Estructura Organizacional</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Estructura Organizacional</ion-title>


    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1>
      Estructura Organizacional
    </h1>

    <ion-list *ngIf="data_estructura.length > 0">
      <ion-card *ngFor="let estructura of data_estructura">
        <ion-card-header>
          <ion-card-title>{{ estructura.employee_name }}</ion-card-title>
          <ion-card-subtitle>{{ estructura.position_name }} en {{ estructura.department_name }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <p><strong>Fecha de inicio:</strong> {{ estructura.start_date | date }}</p>
          <p *ngIf="estructura.end_date"><strong>Fecha de fin:</strong> {{ estructura.end_date | date }}</p>
          <p><strong>Estatus:</strong> {{ estructura.status === '1' ? 'Activo' : 'Inactivo' }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-item *ngIf="data_estructura.length === 0">
      <ion-label>No se encontraron registros.</ion-label>
    </ion-item>

  </div>
  
 


</ion-content>
