<ion-header>
  <ion-toolbar>
    <ion-title>Strategia Gerencial</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/inicio">CERRAR SESION</ion-button>
      <ion-menu-button></ion-menu-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


 
    <div class="container">
      <div *ngIf="weatherData">
        <h2>Weather in {{ city }}</h2>
        <p>Temperature: {{ weatherData.main.temp }} °C</p>
        <p>Weather: {{ weatherData.weather[0].description }}</p>
      </div>
      <div *ngIf="!weatherData">
        <p>Loading weather data...</p>
      </div>
    </div>


</ion-content>